body {
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    ;
    color: #666666;
    font-family: Verdana, Arial;
    background-attachment: fixed;
    box-sizing: border-box;
    margin-block: 0px;
}

header {
    background-color: #BA1C21;
    color: #FFFFFF;
    font-family: Georgia;
    padding-right: 2em;
    padding-left: 2em;
    display: block;
    grid-area: 1/2/span 2 / span -2;
}

header h1 {
    line-height: 240%;
    background-image: url("./dsu.jpg");
    background-position: right;
    background-repeat: no-repeat;
    padding-left: .5em;
    height: 72px;
    margin: 0;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

nav {
    background-color: #424242;
    font-weight: bold;
    grid-area: 2/2/span 3/ span -2;
}

nav a {
    color: #ffffff;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #BA1C21;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
}

nav ul li {
    width: 100%;
}

main {
    background-color: #ffffff;
    padding-top: 1px;
    padding-bottom: 1px;
    grid-area: 4/2/span 5/ span -2;
}

h2 {
    color: #424242;
    font-family: Georgia;
}

dt {
    color: #BA1C21;
    font-weight: bold;
}

.dsu {
    color: #BA1C21;
    font-size: 1.2em;
}

footer {
    font-size: small;
    font-style: italic;
    text-align: center;
    padding: 1em;
    background-color: #FFFFFF;
    grid-area: 5/2/span 6/span -2;
}

#wrapper {
    display: grid;
    grid-auto-rows: 0px auto;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

h3 {
    color: #BA1C21;
}

#redbar {
    background-color: #BA1C21;
    grid-area: 1/1/span 2/ span -1;
}

#greybar {
    background-color: #424242;
    grid-area: 2/1/span 3/ span -1;
}

#homehero {
    background-image: url("./homehero.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3/1/span 4/ span -1;
}

#studenthero {
    background-image: url("./studenthero.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3/1/span 4/ span -1;
}

#facultyhero {
    background-image: url("./facultyhero.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3/1/span 4/ span -1;
}

.clear {
    clear: both;
}

nav a {
    text-decoration: none;
}

section {
    float: left;
    width: 33%;
    padding-right: 1rem;
}

@media only screen and (max-width: 1100px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
    }
}

@media screen and (max-width: 900px) {
    nav {
        grid-area: 2/1/span 3/ span 5;
    }
    nav ul {
        flex-flow: column nowrap;
    }
    #homehero {
        height: auto;
        grid-area: 2/5/span 3/ span 8;
    }
    #studenthero {
        height: auto;
        grid-area: 2/5/span 3/ span 8;
    }
    #facultyhero {
        height: auto;
        grid-area: 2/5/span 3/ span 8;
    }
    section {
        float: none;
        width: 100%;
        padding-right: 0px;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        background-image: none;
        text-align: center;
    }
    nav {
        grid-area: 2/1/span 3/ span -1;
    }
    #homehero {
        display: none;
    }
    #studenthero {
        display: none;
    }
    #facultyhero {
        display: none;
    }
}